{{!-- HandleBars is a template engine for JavaScript, it is not compatible with Express. Use HBS to achieve the same result
 Lets us reuse pieces of markup and render content dynamically  --}}
{{!-- this file will replace index.html on home page --}}
{{!-- hbs is just HTML with a few features for injecting dynamic values --}}
{{!-- when link to files, hbs files live in the public folder --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/weather.png">
  <title>Weather</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  {{!-- double curly braces to access object passed to view --}}
  <div class="main-content">
    {{>header}}
    <p>Use this site to get your weather!</p>

    <form>
      <input placeholder="Location">
      <button type="submit">Search</button>
      <button type="button" id="user-location">Use My Location</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
  </div>

  {{>footer}}

<script src="js/app.js"></script>
</body>
</html>