{{!-- this will render as is in the views. meaning if a property of title has been passed to that view, it will have accesss to it --}}
<h1>{{title}}</h1>

<div>
  <a href="/">Weather</a>
  <a href="/about">About</a>
  <a href="/help">Help</a>
</div>
